{% extends "base.html" %}
{% block title %}Configuration page{% endblock %}
{% block content %}
<h1>Configuration page</h1>
<div class="content">
  <!--
  <p>
    <h3>PUT Test</h3>
    <button type="button" id="puttest">Run</button>
  </p>
  <p>
    <h3>GET Input test</h3>
    <input type="text" size=5 name="get-input-1" />
    <input type="text" size=5 name="get-input-2" />
    <button type="button" id="gettest">Run</button>
  </p>
  <p>
    <h3>POST Form test</h3>
    <form id="posttestform" action="/post-test" method="post">
      <input type="text" size=5 name="a" />
      <input type="text" size=5 name="b" />
      <input type="submit" id="posttest" value="Run" />
    </form>
  </p>
-->
  <div class="scrollers-container">
    <div class="scroll-log" id="commandLog">
      <div class="log-line">Log start!</div>
    </div>
    <div class="scroll-log" id="selector">
      <div class="log-line">Added elements</div>
    </div>
  </div>
  <p>
    <button type="button" onclick="DeleteSelected()">Delete</button>
  </p>
  <p>
    <h3>Add triangle</h3>
    <form id="triangleform" action="/triangle-add" method="post">
      <input type="hidden" name="type" value="triangle" />
      <input type="number" size=5 step=0.01 value=0 name="x" />
      <input type="number" size=5 step=0.01 value=0 name="y" />
      <input type="submit" id="triangletest" value="Add" />
    </form>
  </p>
</div>
{% endblock %}